.car-park-container {
    background-image: linear-gradient(to right,#4c9efb, #2f5ffb);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-font-properties1 {
    color: white;
    margin-top: 5vh;
    width: 80%;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
}

.welcome-font-properties2 {
    color: white;
    margin-top: 2rem;
    width: 219px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
}

.btn-lots{
    width: 9rem;
    height: 3rem;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #2853e0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.counter-lots-container {
    width: 85%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.counter-many-container {
    width: 175px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 2px solid #24d63c;
    color: #24d63c;
    font-size: 54px;
}

.counter-some-container {
    width: 175px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 2px solid #e6c01b;
    color: #e6c01b;
    font-size: 54px;
}

.counter-few-container {
    width: 175px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 2px solid #ff0404;
    color: #ff0404;
    font-size: 54px;
}

.car-park-content-container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lot-tollbooth-container {
    width: 85%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    background-color: #e1eefc;
    padding: 15px;
}

.lot-container {
    width: 47vw;
    max-width: 788.188px;
    height: 30vw;
    max-height: 503.094px;
    background-image: url('../../../assets/images/parking-lot.png');
    background-size: 100% 100%;
}

.tollbooth-container {
    width: 35%;
    max-width: 498.891px;
    height: 30vw;
    max-height: 503.094px;
    margin-left: 3rem;
    background-image: url('../../../assets/images/tollbooth.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tollbooth-container button{
    width: 9rem;
    height: 3rem;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #b30202;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.payment-gate-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-payment{
    width: 9rem;
    height: 3rem;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #3dcce6;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.btn-gate{
    width: 9rem;
    height: 3rem;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #e79f02;
    border: 1px solid #ffffff;
    border-radius: 5px;
}