<div class="car-park-container">
    <div class="welcome-font-properties1">
        {{title1}}
    </div>
    <h1 class="welcome-font-properties2">
        {{subtitle1}}<br>{{subtitle2}}
    </h1>
    <div class="car-park-content-container">
        <div class="counter-lots-container">
            <div [class]="(numberOfLots - occupiedLots) > 35 ? 'counter-many-container' : (numberOfLots - occupiedLots) > 15 ? 'counter-some-container' : 'counter-few-container'">
                {{numberOfLots - occupiedLots}}
            </div>
            <button mat-button class="btn-lots" (click)="getFreeSpaces()">Available spaces</button>
        </div>
        <div class="lot-tollbooth-container">
            <parking-lot [numberOfLots]="numberOfLots" [occupiedLots]="occupiedLots"></parking-lot>
            <div class="tollbooth-container">
                <button mat-button class="btn-tollbooth" [disabled]="numberOfLots - occupiedLots === 0" (click)="getTicket()">Ticket</button>
            </div>
        </div>
        <div class="payment-gate-container">
            <button mat-button class="btn-payment" (click)="openPaymentDialog()">Payment</button>
            <button mat-button class="btn-gate" (click)="openGateDialog()">Open gate</button>
        </div>
    </div>
</div>
