.btn-ok {
    width: 9rem;
    height: 3rem;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #11bdae;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.btn-cancel {
    width: 9rem;
    height: 3rem;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #d30755;
    border: 1px solid #ffffff;
    border-radius: 5px;
}